.App {
  margin: 2em;  
  font-size: calc(10px + 2vmin);
} 

.App-footer {
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  height: 2em;
}

.App-link {
  color: rgb(112, 76, 182);
}

h1 {
  font-size: 1.5em;
}

form {
  text-align: left;
}

form label {
  font-size: 1rem;
  font-weight: bold;
}

form .error-required {
  color: red;
  display: block;
  font-size: 1rem;  
  height: 0;
  margin-bottom: 0;
}